absl-py
aiobotocore
aiohttp
anndata
antlr4-python3-runtime
cloudpickle
dask
dask-cuda
datasets
distributed
fsspec
huggingface-hub
hydra-core
lightning
lightning-utilities
merlin-core
merlin-dataloader
numba
numpy
omegaconf
pytorch-lightning
scikit-learn
scipy
torch
torchvision
transformers
wandb
tensorflow
tritonclient